.banner {
  background-image: url(./img/banner.jpeg);
  background-size: cover;
  height: 94.2vh;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20%;
  color: purple;
}
.social-icons {
  border-radius: 50%;
  background-color: darkred;
  color: white;
  padding-top: 26px;
  display: inline-block;
  height: 140px;
  width: 140px;
}
.team-members{
    width: 250px;
    border: 10px solid lightgrey;
    
}
.social{
    display: inline-block;
    height: 50px;
    width: 50px;
    color:aliceblue;
    border-radius: 100%;
    background-color: #333;
    padding: 17px;
    line-height: 4px;
}

.contact{
    background-image: url(./img/map.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
}