*{
    margin: 0;
    padding: 0;
    background-color: white;
}

.container-fluid{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    -webkit-box-reflect: below 0.5px linear-gradient(transparent, rgba(255,255,255,0.1));
}
.container-fluid p{
    color: red;
    font-size: 7rem;
    letter-spacing: 0.6rem;
}