* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(background_image.jpg);
}
#container {
  background-color: rgba(0, 0, 0, 0.5);
  width: 270px;
  margin: 8px auto;
  padding: 10px;
}
#title {
  text-align: center;
  color: white;
  font-size: 50px;
  letter-spacing: 3px;
  margin-bottom: auto;
  font-weight: 600px;
}

.box {
  color: white;
  padding: 10px;
}

.main {
  background-color: rgba(0, 0, 0, 0.3);
  width: 75%;

  margin: 10px auto;
  margin-bottom: 10px;
}
p {
  text-align: center;
  color: white;
}
.box input {
  width: 220px;
  padding: 7px;
}

.checkbox,
.gender {
  color: white;
  margin: 10px;
}
.box select {
  width: 210px;
  padding: 5px;
}
.button {
  text-align: center;
}
.button input {
  color: white;
  width: 120px;
  border-radius: 20px;
  padding: 7px;
  border: none;
  background-color: red;
}
.button input:hover {
  cursor: pointer;
  opacity: 0.5;
}
